.page-contact {
  margin-top: 112px;
  display: flex;
}
.page-contact .contact-form {
  width: 50%;
  min-height: 929px;
  display: flex;
  justify-content: right;
}
.page-contact .contact-form .contact-form-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  height: 696px;
  margin-right: 58px;
  margin-top: 94px;
}
.page-contact .contact-form .contact-form-card .form-col {
  width: 100%;
}
.page-contact .contact-form .contact-form-card .formfield-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.page-contact .contact-form .contact-form-card .formfield-wrap .formfield {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: var(--font-montserrat);
  color: #1B2536;
  font-size: 16px;
  font-weight: 600;
  gap: 7px;
}
.page-contact .contact-form .contact-form-card .formfield-wrap .formfield-label {
  width: 100%;
}
.page-contact .contact-form .contact-form-card .formfield-wrap .formfield-input {
  border-radius: 5px;
  border: 1px solid #1B2536;
  background: #FFF;
  width: 450px;
  height: 44px;
  text-indent: 10px;
  font-size: 16px;
  font-family: var(--font-montserrat);
}
.page-contact .contact-form .contact-form-card .formfield-wrap .formfield .label-email, .page-contact .contact-form .contact-form-card .formfield-wrap .formfield .label-message {
  margin-top: 39px;
}
.page-contact .contact-form .contact-form-card .formfield-wrap .formfield .input-message {
  text-indent: 0;
  padding: 10px;
  width: 520px;
  height: 220px;
  font-size: 14px;
}
.page-contact .contact-form .contact-form-card .btn-submit {
  height: 40px;
  width: 193px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2B3A55;
  color: #F2E5E5;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.page-contact .contact-actions {
  width: 50%;
  min-height: 82vh;
}
.page-contact .contact-actions .contact-actions-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 57px;
  background-color: #F2E5E5;
  border-radius: 47px;
  width: 469px;
  height: 634px;
  margin-left: 110px;
  margin-top: 185px;
}
.page-contact .contact-actions .contact-actions-card .actions-col-icons {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 44px;
}
.page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button .contact-icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button-mail {
  background-color: #E8C4C4;
}
.page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button-linkedin {
  background-color: #2B3A55;
}
.page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button-github {
  background-color: #CE7777;
}
.page-contact .contact-actions .contact-actions-card .actions-col-graphic {
  display: flex;
  justify-content: center;
}

/* Tablet and Smaller Desktop */
@media screen and (max-width: 701px) {
  .page-contact {
    margin-top: 86px;
    flex-wrap: wrap;
  }
  .page-contact .contact-form {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 613px;
  }
  .page-contact .contact-form .contact-form-card {
    width: 267px;
    margin: 0;
    margin-top: 61px;
  }
  .page-contact .contact-form .contact-form-card .formfield-wrap .formfield-label {
    width: 100%;
  }
  .page-contact .contact-form .contact-form-card .formfield-wrap .formfield-input {
    width: 100%;
    text-indent: 10px;
  }
  .page-contact .contact-form .contact-form-card .formfield-wrap .formfield .label-name {
    margin-top: 23px;
  }
  .page-contact .contact-form .contact-form-card .formfield-wrap .formfield .input-message {
    padding: 10px;
    width: 100%;
    height: 320px;
  }
  .page-contact .contact-form .contact-form-card .btn-submit {
    height: 43px;
    width: 100%;
    margin-top: 35px;
  }
  .page-contact .contact-actions {
    width: 100%;
    min-height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-contact .contact-actions .contact-actions-card {
    gap: 27px;
    border-radius: 35px;
    width: 267px;
    height: 116px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 39px;
  }
  .page-contact .contact-actions .contact-actions-card .actions-col-icons {
    height: 55px;
    gap: 27px;
  }
  .page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  }
  .page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button .contact-icon-wrapper {
    border-radius: 15px;
  }
  .page-contact .contact-actions .contact-actions-card .actions-col-icons .contact-button .contact-icon-wrapper .button-icon {
    height: 33px;
    width: 33px;
  }
  .page-contact .contact-actions .contact-actions-card .actions-col-graphic {
    display: none;
  }
}

/*# sourceMappingURL=contact.css.map */
