$primary-100: #F2E5E5;
$primary-300: #E8C4C4;
$accent-500: #2B3A55;
@mixin underline {
    position: absolute;
    border-radius: 5px;
    bottom: -6px;
    right: 0;
    height: 5px;
    width: 122px;
    background: #CE7777;
}
.work-header {
    position: relative;
    width: 100%; 
    margin-top: 112px;
    display: flex-wrap;
    flex-wrap: wrap;
    .title {
        margin-top: 81px;
        margin-left: 128px;
        color: #1B2536; // Figma labeled as neturals-900 but actual col diff
    }
    .work-filters {
        width: 517px;
        height: 45px;
        margin-top: 38px;
        margin-left: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 92px;
        li {
            display: inline-block;
            position: relative;
            color: #1B2536;
            cursor: pointer;
            .all-underline {
                @include underline;
                left: -40px;
            }
            .design-underline {
                @include underline;
                left: -16px;
            }
            .development-underline {
                @include underline;
                left: 25px;
            }
        }
        .selected {
            color: #CE7777;
        }
    }
}
.work-body {
    position: relative;
    margin-top: 83px;
    margin-bottom: 55px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 138px; // vertical
    column-gap: 79px; // horizontal
    .project-card {
        width: 400px; // ?????
        display: flex;
        justify-content: center;
        .card-image-container {
            text-align: center;
            font-family: var(--font-montserrat);
        }
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
@media screen and (max-width: 701px) {
    .work-header {
        margin-top: 86px;
        display: flex;
        justify-content: center;
        .title {
            position: absolute;
            margin-top: 61px;
            margin-left: 0px;
            left: 49px;
        }
        .work-filters {
            appearance: none;
            -webkit-appearance: none;
            position: relative;
            margin-top: 107px;
            margin-left: 0px;
            width: 295px;
            height: 44px;
            border-radius: 5px;
            text-indent: 19px;
            font-family: var(--font-montserrat);
            color: #333D4E;
            font-size: 14px;
            font-weight: 600;
            .filter-button {
                position: relative;
                height: 100%;
                width: 100%;
                background: #FFF;
                border: solid 1px #1B2536;
                border-radius: 5px;
                text-indent: 19px;
                font-family: var(--font-montserrat);
                color: #333D4E;
                font-size: 14px;
                font-weight: 600;
                .selected-value {
                    position: relative;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;
                }
                .button-arrow {
                    position: absolute;
                    top: 19px;
                    right: 18.25px;
                }
            }
            .work-dropdown {
                position: absolute;
                top: 50px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                background: #FFF;
                border: solid 1px #1B2536;
                border-radius: 5px;
                z-index: 50;
                .work-filter {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 32px;
                }
            }
            li {
                display: inline-block;
                position: relative;
                color: #1B2536;
                cursor: pointer;
                .all-underline {
                    @include underline;
                    left: -40px;
                }
                .design-underline {
                    @include underline;
                    left: -16px;
                }
                .development-underline {
                    @include underline;
                    left: 25px;
                }
            }
            .selected {
                color: #CE7777;
            }
        }
    }
    .work-body {
        position: relative;
        margin-top: 77.05px;
        margin-bottom: 60.85px;
        row-gap: 64.24px;
        .project-card {
            width: 400px; // ?????
            display: flex;
            justify-content: center;
        }
    }

}
    