$primary-100: #F2E5E5;
$primary-300: #E8C4C4;
$accent-500: #2B3A55;
@mixin underline {
    position: absolute;
    border-radius: 5px;
    bottom: -6px;
    right: 0;
    height: 5px;
    width: 122px;
    background: #CE7777;
}
.page-work {
    min-height: 100vh;
}
.work-header {
    position: relative;
    width: 100%; 
    margin-top: 112px;
    display: flex-wrap;
    flex-wrap: wrap;
    border: solid 1.2px black;
    .title {
        margin-top: 81px;
        margin-left: 128px;
        color: #1B2536; // Figma labeled as neturals-900 but actual col diff
    }
    .work-filters {
        width: 517px;
        height: 45px;
        margin-top: 38px;
        margin-left: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 92px;
        border: solid 1px black;
        li {
            display: inline-block;
            position: relative;
            color: #1B2536;
            cursor: pointer;
            .all-underline {
                @include underline;
                left: -40px;
            }
            .design-underline {
                @include underline;
                left: -16px;
            }
            .development-underline {
                @include underline;
                left: 25px;
            }
        }
        .selected {
            color: #CE7777;
        }
    }
}
.work-body {
    position: relative;
    margin-top: 83px;
    margin-bottom: 55px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1.2px black;
    background-color: blueviolet;
    row-gap: 138px;
    .project-card {
        width: 400px; // ?????
        display: flex;
        justify-content: center;
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
   
}
    