$primary-500: #CE7777;
$primary-300: #E8C4C4;
$primary-100: #F2E5E5;
$accent-500: #2B3A55;
$neutrals-900: #1B2536;
$neutrals-700: #4E4646;
$neutrals-500: #7A7171;
$neutrals-300: #CAC4C4;
$neutrals-100: #ECEAEA;
$neutrals-white: #FFF;
$neutrals-bg: #FFFBFB;
$primary-500-dm: #FFBDBD;
$primary-300-dm: #FFE5E5;
$primary-100-dm: #F2E5E5;
$accent-500-dm: #B5C3DC;

.work-page {
    margin-top: 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .full-length { 
        width: 100%;
    }
    .banner {
        width: 100%;
        height: 100%;
    }
    .project-overview {
        width: 100%;
        min-height: 582px;
        display: flex;
        &-col { 
            width: 50%;
            display: flex;
            border: 1px solid black;
        }
        &-col-thumbnail {
            justify-content: center;
            align-items: center;
        }
        &-col-text {
            align-items: center;
            .title {

            }
            .sub-title {
                margin-top: 10px;
                color: var(--neutrals-500, #515B6C);
            }
            .body {
                margin-top: 20px;
                width: 592px;
            }
            .btn {
                margin-top: 27px;
                height: 40px;
                width: 161px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $accent-500;
                color: $primary-100;
                font-family: var(--font-montserrat);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                .btn-link {
                    background-color: $accent-500;
                    color: $primary-100;
                    font-family: var(--font-montserrat);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        border: 1px solid red;
    }
    .container-accent { 
        width: 100%;
        background: var(--primary-100, #F2E5E5);
        display: flex;
        justify-content: center;
        .user-research {
            // width: 83%;
            width: 1199px;
            min-height: 445px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            &-col {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                .title {
                    color: #000;
                    width: 533px;
                }
                .sub-title {
                    margin-top: 10px;
                    width: 533px;
                    color: var(--neutrals-500, #515B6C);
                }
            }
            &-col-full {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .textbox {
                    margin-top: 20px;
                    width: 533px;
                    display: flex;
                    flex-wrap: wrap;
                    &-title {
                        color: #000;
                    }
                    &-body {
                        margin-top: 10px;
                        .pain-point {
                            text-decoration: underline;
                        }
                    }
                    &-pain {
                        justify-content: flex-start;
                    }
                }
                .textbox-pain {
                    width: 557px;
                }
            } 
        }

    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        .user-rep {
            // width: 83%;
            min-height: 1630px;
            align-content: center;
            width: 1199px;
            display: flex;
            flex-wrap: wrap;
            &-col {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .title {
                    color: #000;
                }
                .sub-title {
                    margin-top: 10px;
                    color: var(--neutrals-500, #515B6C);
                }
                .mapping-image {
                    margin-top: 20px;
                }
            }
            .col-images {
                margin-top: 20px;
                justify-content: space-between;
                .imagebox {
                    &-image {
                        margin-top: 9px;
                    }
                }
            }
            .col-mapping {
                margin-top: 75px;
            }
        }
    }
    
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
@media screen and (max-width: 701px) {
    
}