.work-page {
  margin-top: 112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work-page .full-length {
  width: 100%;
}
.work-page .banner {
  width: 100%;
  height: 100%;
}
.work-page .project-overview {
  width: 100%;
  min-height: 582px;
  display: flex;
  border: 1px solid red;
}
.work-page .project-overview-col {
  width: 50%;
  display: flex;
  border: 1px solid black;
}
.work-page .project-overview-col-thumbnail {
  justify-content: center;
  align-items: center;
}
.work-page .project-overview-col-text {
  align-items: center;
}
.work-page .project-overview-col-text .sub-title {
  margin-top: 10px;
  color: var(--neutrals-500, #515B6C);
}
.work-page .project-overview-col-text .body {
  margin-top: 20px;
  width: 592px;
}
.work-page .project-overview-col-text .btn {
  margin-top: 27px;
  height: 40px;
  width: 161px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2B3A55;
  color: #F2E5E5;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.work-page .project-overview-col-text .btn .btn-link {
  background-color: #2B3A55;
  color: #F2E5E5;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-page .container-accent {
  width: 100%;
  background: var(--primary-100, #F2E5E5);
  display: flex;
  justify-content: center;
}
.work-page .container-accent .user-research {
  width: 1199px;
  min-height: 445px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.work-page .container-accent .user-research-col {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.work-page .container-accent .user-research-col .title {
  color: #000;
  width: 533px;
}
.work-page .container-accent .user-research-col .sub-title {
  margin-top: 10px;
  width: 533px;
  color: var(--neutrals-500, #515B6C);
}
.work-page .container-accent .user-research-col-full {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.work-page .container-accent .user-research-col-full .textbox {
  margin-top: 20px;
  width: 533px;
  display: flex;
  flex-wrap: wrap;
}
.work-page .container-accent .user-research-col-full .textbox-title {
  color: #000;
}
.work-page .container-accent .user-research-col-full .textbox-body {
  margin-top: 10px;
}
.work-page .container-accent .user-research-col-full .textbox-body .pain-point {
  text-decoration: underline;
}
.work-page .container-accent .user-research-col-full .textbox-pain {
  justify-content: flex-start;
}
.work-page .container-accent .user-research-col-full .textbox-pain {
  width: 557px;
}
.work-page .container-accent .solution {
  width: 1199px;
  min-height: 819px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.work-page .container-accent .solution-col-full {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work-page .container-accent .solution-col-full .title {
  color: #000;
}
.work-page .container-accent .solution-col-full .sub-title {
  margin-top: 10px;
  color: var(--neutrals-500, #515B6C);
}
.work-page .container-accent .solution-col-full .image-textbox {
  margin-top: 20px;
  width: 533px;
  display: flex;
  flex-wrap: wrap;
}
.work-page .container-accent .solution-col-full .image-textbox-title {
  color: #000;
  margin-top: 20px;
}
.work-page .container-accent .solution-col-full .image-textbox-body {
  margin-top: 10px;
}
.work-page .container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.work-page .container .user-rep {
  min-height: 1630px;
  align-content: center;
  width: 1199px;
  display: flex;
  flex-wrap: wrap;
}
.work-page .container .user-rep-col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work-page .container .user-rep-col .title {
  color: #000;
}
.work-page .container .user-rep-col .sub-title {
  margin-top: 10px;
  color: var(--neutrals-500, #515B6C);
}
.work-page .container .user-rep-col .mapping-image {
  margin-top: 20px;
}
.work-page .container .user-rep .col-images {
  margin-top: 20px;
  justify-content: space-between;
}
.work-page .container .user-rep .col-images .imagebox-image {
  margin-top: 9px;
}
.work-page .container .user-rep .col-mapping {
  margin-top: 75px;
}
.work-page .container .user-needs {
  min-height: 1194px;
  align-content: center;
  width: 1199px;
  display: flex;
  flex-wrap: wrap;
}
.work-page .container .user-needs-col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.work-page .container .user-needs-col .title {
  color: #000;
}
.work-page .container .user-needs-col .carousel-title {
  margin-top: 75px;
}
.work-page .container .user-needs-col .sub-title {
  margin-top: 10px;
  color: var(--neutrals-500, #515B6C);
}
.work-page .container .user-needs-col .textbox {
  justify-content: flex-start;
  width: 970px;
  margin-top: 20px;
}
.work-page .container .user-needs-col .textbox .list-title {
  text-decoration: underline;
}
.work-page .container .user-needs-col .textbox li {
  margin-left: 16px;
}
.work-page .container .user-needs-carousel {
  justify-content: center;
}
.work-page .container .user-needs-carousel .design-card {
  display: flex;
  justify-content: center;
  gap: 61px;
  margin-top: 20px;
  border: 1px solid black;
}
.work-page .container .user-needs-carousel .design-card .textbox {
  width: 505px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.work-page .container .user-needs-carousel .design-card .textbox-body {
  margin-top: 10px;
}

/* Tablet and Smaller Desktop */

/*# sourceMappingURL=workPages.css.map */
