$primary-100: #F2E5E5;
$primary-300: #E8C4C4;
$accent-500: #2B3A55;
.page-home {
    .intro-container {
        position: relative;
        height: 100%;
        width: 100%; 
        margin-top: 112px;
        display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        border: solid 1.2px black;
        .intro-col {
            width: 50%;
            padding-top: 71px;
            padding-bottom: 81px;
            border: solid 1.2px blue;
            display: flex;
            align-items: center;
            &-media {
                justify-content: center;
            }
            &-blurb {
                .textbox {
                    height: 234px;
                    width: 549px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content:space-between;
                    border: solid 1px green;
                    .btn-portfolio {
                        height: 40px;
                        width: 161px;
                        // padding: 15px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $accent-500;
                        color: $primary-100;
                        font-family: var(--font-montserrat);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        .btn-portfolio-link {
                            background-color: $accent-500;
                            color: $primary-100;
                            font-family: var(--font-montserrat);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .about-container {
        position: relative;
        height: 845px;
        width: 100%; 
        display: flex;
        background-color: $primary-100;
        border: solid 1.2px red;
        .about-col {
            width: 50%;
            height: 100%;
            border: solid 1.2px blue;
            display: flex;
            align-items: center;
            &-media {
                justify-content: center;
                .svg-rect-container{
                    position: absolute;
                }
                .square-01 {
                    top: 100px;
                }
                .square-02 {
                    top: 351px;
                    transform: translateX(120px);
                }
                .square-03 {
                    top: 400px;
                    transform: translateX(-224px);
                }
            }
            &-blurb {
                justify-content: center;
                .textbox {
                    height: 100%;
                    width: 457px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content:center;
                    border: solid 1px green;
                    .about-text {
                        margin-top: 27px;
                    }
                }
            }
        }
    }
    .projects-container {
        position: relative;
        height: 730px;// change back to 100% later
        width: 100%; 
        display: flex-wrap;
        border: solid 1.2px black;   
        align-items: center;
        // .projects-col {
        //     width: 100%;
        //     // height: 100%;
        //     border: solid 1.2px blue;
        //     display: flex;
        //     align-items: center;
        // }
        .projects-col-blurb {
            width: 100%;
            margin-top: 83px;
            margin-left: 122px;
        }
        .projects-col-media {
            margin-top: 56px;
            display: flex;
            justify-content: center;
            gap: 81px;
            .project-card {
                width: 345px;
                height: 451px;
                border-radius: 5px;
                background-color: $primary-300;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                .card-image-container {
                    width: 281px;
                    height: 274px;
                    border: 2px solid var(--primary-100, #F2E5E5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // .card-image {
                        
                    // }
                }
                .card-title {
                    color: #1B2536;
                    margin-top: 17px;
                    font-family: var(--font-montserrat);
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%; /* 41.6px */
                    text-transform: uppercase;
                }
                .card-text {
                    text-align: center;
                    width: 281px;
                    margin-top: 12px;
                }
            }
        }
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .intro-container {
        position: relative;
        height: 507px;// change back to 100% later
        width: 100%; 
        margin-top: 112px;
        display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        border: solid 1.2px black;
        .intro-col {
            width: 50%;
            border: solid 1.2px blue;
            display: flex;
            align-items: center;
            &-media {
                justify-content: center;
            }
            &-blurb {
    
                .textbox {
                    height: 234px;
                    width: 549px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content:space-between;
                    border: solid 1px green;
                    .btn-portfolio {
                        // display: flex;
                        height: 40px;
                        width: 161px;
                        padding: 15px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $accent-500;
                        color: $primary-100;
                        font-family: var(--font-montserrat);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 701px) {
    .page-home {
        display: flex;
        flex-wrap: wrap;
        .intro-container {
            margin-top: 86px;
            display: flex;
            flex-wrap: wrap;
            .intro-col {
                width: 100%;
                padding: 0;
                border: solid 1.2px green;
                display: flex;
                padding: 49px;
                align-items: center;
                justify-content: center;
                &-media {
                    justify-content: center;
                }
                &-blurb {
                    .textbox {
                        margin-top: -45px;
                        height: auto;
                        width: auto;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;
                        border: solid 1px green;
                        .body {
                            margin-top: 16px;
                        }
                        .btn-portfolio {
                            margin-top: 24px;
                            height: 45px;
                            width: 295px;
                            border-radius: 5px;
                            .btn-portfolio-link {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .about-container {
            height: 100%; 
            flex-wrap: wrap;
            .about-col {
                width: 100%;
                height: auto;
                border: solid 1.2px blue;
                flex-wrap: wrap;
                padding: 35px 50px 50px 50px;
                &-blurb {
                    justify-content: center;
                    .textbox {
                        width: 295px;
                        .about-text {
                            margin-top: 13px;
                        }
                    }
                }
                &-media {
                    .svg-rect-container{
                        position: relative;
                    }
                    .square-01 {
                        top: 0px;
                        margin-top: -46px;
                    }
                    .square-02 {
                        display: none;
                    }
                    .square-03 {
                        display: none;
                    }
                }
            }
        }
        .projects-container {
            height: 100%;
            flex-wrap: wrap;
            .projects-col {
                padding: 47px 49px 39px 49px;
            }
            .projects-col-blurb {
                width: 100%;
                margin-top: 0;
                margin-left: 0;
            }
            .projects-col-media {
                // margin-top: -46px;
                margin-top: 0;
                padding-top: 0;
                .project-card {
                    width: 295px;
                    height: 354px;
                    background-color: $primary-300;
                    padding: 30px 35px 27.8px 35px;
                    .card-image-container {
                        width: 225px;
                        height: 202px;
                        border: none;
                    }
                    .card-title {
                        font-family: var(--font-montserrat);
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 28px */
                        margin-top: 20.05px;
                    }
                    .card-text {
                        font-size: 14px;
                        line-height: 150%; /* 21px */
                        letter-spacing: -0.14px;
                        width: 225px;
                        margin-top: 9.275px;
                    }
                }
            }
        }
    }
}